{% extends 'layout/layout.html.twig' %}

{% block body %}
    <h1>Utilisateursadress</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateursAdresses.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateursAdresses.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateursAdresses.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ utilisateursAdresses.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateursAdresses.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ utilisateursAdresses.cp }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateursAdresses.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateursAdresses.ville }}</td>
            </tr>
            <tr>
                <th>Complement</th>
                <td>{{ utilisateursAdresses.complement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateursadresses_index') }}">Retour a la liste</a>
        </li>
        <li>
            <a href="{{ path('utilisateursadresses_edit', { 'id': utilisateursAdresses.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
